
body{
	background-image: url("MonteCarlo.jpg");	
	opacity: 1.5;
  	filter: Alpha(opacity=50);
}

#i1{
	
	padding: 20px;
	font-family: cursive;

}
.a1{
	color: white;
}

#hd1
{
	font-family: cursive;
	font-size: 50px;
	
}
#d2
{
	font-family: monospace;
	font-size: 20px;
}

.inp{
	width: 300px;
	height: 40px;
	border-collapse: collapse;
	border-radius: 10px;
	padding: 10px;
	
}
.dd{
	height: 30px;
	width: 80px;
	
	
}
.header {
	height: 45px;
	width: auto;
	border-radius: 25px;
  	overflow: hidden;
  	background-color: #363f3d;
  	color: white;
}

.header a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.dropdown {
  float: left;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  font-family: inherit;
  background-color:inherit;
  margin: 0;
}

.header a:hover, .dropdown:hover .dropbtn {
  background-color: #ff8080;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	
  background-color: #0000ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.srchButton{
	background-color: #4CAF50; /* Green */
	height: 30px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



