.hotelcontainer{
	border:6px solid #ff80ff;
	border-radius:3px;
	padding-top:20px;
	padding-left: 5px;
	background-color:grey;
	padding-bottom: 10px;
	padding-right: 35px;
	 
	width: 50%;
	margin-top: 50px;
	margin-left: 250px;
	margin-right:100px;
	font-family: fantasy;
	font-size: 110%;
}
body{
	
background-image: url("images/swimming.jpg");

}

#hnm{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
	}

	#hid{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
	}





	#hwb{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
	}
	#email{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
	}
	#pno{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	background-color: white;
	color: black;
	}
	
		#addr{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
		}
	
		#cntr{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
		}
	
	#con{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
		}
	
	#stat{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
		}
	
	#cit{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
		}
	
	
	#zp{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
		}
	
	#hpht{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	box-sizing: content-box;
background-color: white;
color: black;
font-family: arial;
	font-size: 10px;
		}
	input[type=submit] {
	width:100%;
	cursor:pointer;
background-color: orange; 
color: white;
margin: 10px;
padding: 10px;
font-family: sans-serif;
font-size: 110%;
}
input[type=reset] {
	width:100%;
	cursor:pointer;
background-color: orange; 
color: white;
margin: 10px;
padding: 10px;
text-align:center;
font-family: sans-serif;
font-size: 110%;
}

